@use 'sass:math';

@mixin lightenClass($name, $color, $size, $reduction) {
  $light: 10%;
  @for $i from 1 through  6 {
    .#{$name} h#{$i} {
      color: lighten($color, $light);
      font-size: $size;
      $size: math.div($size, math.div($reduction, 42));
    }
    $color: lighten($color, $light);
  }
}

@include lightenClass(miclase, #919b09, 5rem, 70);