@use 'sass:math';

@mixin desaturarClass($name, $color, $size, $reduction) {
  $desaturate: 10%;
  $reduction: math.div($reduction, 100);
  @for $i from 1 through  6 {
    .#{$name} h#{$i} {
      color: desaturate($color, $desaturate);
      font-size: $size;
    }
    $color: desaturate($color, $desaturate);
    $size: $reduction * math.div($size, 100);
  }
}

@include desaturarClass(miclase, #919b09, 5rem, 70);
