@import url('http://fonts.cdnfonts.com/css/kenyan-coffee-2');
@import url('https://db.onlinewebfonts.com/c/30dd2c1811d76b0331c1a16733367fe9?family=Miami');

body {
    background-color: antiquewhite;
    font-family: 'Miami', sans-serif;
}

::selection {
    background: red;
    color: white;
}

::-moz-selection {
    background: red;
    color: white;
}

a:hover {
    color: red;
    border-bottom: 1px solid red;
    text-decoration: none;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: black;
    opacity: 25%;
}

.carrusel {
    height: 400px;
}

.card {
    margin-right: 1em;
}

.card-text {
    font-size: x-large;
    font-family: 'Kenyan Coffee', sans-serif;
}

.carta {
    width: 18rem;
    text-align: justify ;
}

.logo {
    height: 50px;
    width: 100px;
}

.ms-logo {
    width: 40px;
    height: 40px;
}

.municion {
    width: 30px;
    height: 30px;
}

.arma {
    height: 120px;
}

span {
    color: #ff4e1d;
}