@use "sass:math";

@mixin theme($name, $color, $opacity, $font: 'Comic Sans MS') {
  .#{$name} {
    background-image: url("../patrones/#{$name}.png");
    padding: 5px;
  }

  .#{$name} article {
    padding: 10px;
    margin: 10px;
    color: $color;
    font-family: $font;
    @if $opacity > 0 {
      background-color: rgba(255, 255, 255, math.div($opacity, 100));
    } @else {
      background-color: rgba(0, 0, 0, math.div(math.abs($opacity), 100));
    }
    @if lightness($color) > 50 {
      text-shadow: 2px 2px 2px black;
    } @else {
      text-shadow: 2px 2px 2px white;
    }
  }
}

@include theme(relax, #93a8b7, 60, Verdana);
@include theme(contrast, #cccccc, -65);
@include theme(love, #f8afb2, 30, Gabriola);
@include theme(psico, #1b4d48, 30, "Arial Black");
@include theme(moderm, #fec87c, -20, Impact);